section.followers {
  margin: 30px auto;
}

.card-followers {
  border: 0px solid white;
  padding-top: 4px;

  .card-body {
    padding: 24px 5px;

    &-username {
      display: flex;
      height: 22px;
      flex-direction: row;
      justify-content: center;
    }
  }
}

// Icons
i.fa-brands {
  font-size: 22px;
}

.ins-icon,
.ytb-icon {
  width: 22px;
  height: 22px;
}

.card-overview {
  border: 0;
}
